.basement {
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
}

.foto_pet {
    border-radius: 15px;
    padding: 15px;
}

.img1 {
    width: 80px;
    height: 80px;
}

.site-header1 {
    margin-right: 50px;
    margin-left: 3%;
    justify-content: center;
    padding-top: 40px;

}

.img-site-header {
    margin-left: 33%;
}

a {
    color: #cf9e81;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts1 {
    margin-right: 15px;
}
                body {
                    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/fon.webp);
                }
        
                .heading {
                    font-family: Inter;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    color: #101828;
                    margin-bottom: 32px;
                    text-align: center;
                    margin-top: 20px;
                }
        
                .head {
                    margin-top: 5%;
                    width: 500px;
                    margin-bottom: 5%;
                }
        
                .button1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    width: 380px;
                    height: 30px;
                    margin-left: 50px;
                    margin-bottom: 20px;
                    padding-left: 10px;
                }
                
        
                .colorSubmit {
                    background-color: #92705b;
                }
        
                .colorHead {
                    background-color: #deaf93;
                }
        
                .colorButton {
                    background-color: #efe2e2;
                    font-size: 20px;
                }
        
                .button2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    width: 180px;
                    height: 30px;
                    margin-left: 50px;
                    margin-bottom: 20px;
                    text-align: center;
                    margin-left: 33%;
                }
        
                button {
                    border-radius: 8px;
                }
        
                .text {
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    color: #101828;
                    margin-bottom: 12px;
                    text-align: center;
                    margin-top: 12px;
                }
                .main {
                    display: flex;
                    justify-content: center;
                }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}
