body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
.basement {
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
}

.foto_pet {
    border-radius: 15px;
    padding: 15px;
}

.img1 {
    width: 80px;
    height: 80px;
}

.site-header1 {
    margin-right: 50px;
    margin-left: 3%;
    justify-content: center;
    padding-top: 40px;

}

.img-site-header {
    margin-left: 33%;
}

a {
    color: #cf9e81;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts1 {
    margin-right: 15px;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/fon.webp);
}


.conteinerlower {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.mainlower {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 89.5px;
    margin-left: 89.5px;
    align-items: center;
    
}
.color_pag {
    background-color: #e5dad4;
}
.mainnumber {
    display: flex;
    /* flex-wrap: wrap; */
}

.lowerdiv {
    display: flex;
    flex-wrap: wrap;
}
.lowerdiv1 {
    margin-right: 8px;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: #935b07;
}
.colorLowerDiv {
    color: #935b07;
}
.lowerdiv2 {
    margin-right: 8px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.conteinermain {
    padding: 12px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border-radius: 8px;
}
/* .table_search {
    border: 2px solid black;
} */

/* Форма поиска */
.forma_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 70px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #e0a88ab6;
    border-radius: 25px;
    
}
#area {
    background-color: #e993649a;
    width: 120px;
    height: 25px;
    margin-right: 20px;
    border-radius: 4px;
}
#type {
    background-color: #e993649a;
    width: 120px;
    height: 25px;
    margin-right: 20px;
    border-radius: 4px;
}
.subscription {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 12px;

}
.search {
    margin-top: 20px;
}
.formaSearch {
    width: 200px;
    height: 35px;
    background: #e5dad4;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.button_form {
    width: 80px;
    height: 40px;
    background: #e0a88ab6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #573826;
}

.color_search {
    color: #573826;
}

/* Информация обо всех найденных животных: */
.foto_pet {
    width: 220px;
    height: 180px;
}
.table {
    background-color: #e5dad4;
}
.table_pet {
    text-align: center;
    width: 200px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    word-wrap: break-word;
}
.table_pet1 {
    text-align: center;
}
.text_kleimo {
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: #5a3c29;
}
.text_area {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.text_data {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.text_phone {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 650;
    line-height: 32px;
}
.text_opisanie {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}
.td {
    border-bottom: 1px solid dimgray;
}
@media screen and (min-width: 640px) and (max-width: 740px) {
/* Форма поиска */
    .forma_card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 70px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #e0a88ab6;
        border-radius: 25px;

    }

    #area {
        background-color: #e993649a;
        width: 145px;
        height: 25px;
        margin-right: 25px;
        border-radius: 4px;
    }

    #type {
        background-color: #e993649a;
        width: 145px;
        height: 25px;
        margin-right: 30px;
        border-radius: 4px;
    }

    .subscription {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 12px;

    }

    .search {
        margin-top: 20px;
    }

    .formaSearch {
        width: 230px;
        height: 35px;
        background: #e5dad4;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .button_form {
        width: 80px;
        height: 40px;
        background: #e0a88ab6;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #573826;
    }

    .color_search {
        color: #573826;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px) {

    /* Форма поиска */
    .forma_card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* margin-left: 30%; */
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #e0a88ab6;
        border-radius: 25px;

    }

    #area {
        background-color: #e993649a;
        width: 145px;
        height: 25px;
        margin-right: 25px;
        border-radius: 4px;
    }

    #type {
        background-color: #e993649a;
        width: 145px;
        height: 25px;
        margin-right: 30px;
        border-radius: 4px;
    }

    .subscription {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 12px;

    }

    .search {
        margin-top: 20px;
    }

    .formaSearch {
        width: 230px;
        height: 35px;
        background: #e5dad4;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .button_form {
        width: 80px;
        height: 40px;
        background: #e0a88ab6;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #573826;
    }

    .color_search {
        color: #573826;
    }
    .color_pag {
    background-color: #e5dad4;
    width: fit-content;
    }
    .mainlower {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 89.5px;
    margin-left: 89.5px;
    align-items: center;
    }
}